{% extends 'authentication_base.html' %}
{% load static %}

{% block title %}Confirm Password Reset - SpendingTracker{% endblock %}

{% block messages %}
    <!-- Leave this empty to prevent messages from appearing in the base template -->
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Confirm Password Reset</h2>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message-container {{ message.tags }} fade-in">
                        <span class="message-text">{{ message|safe }}</span>
                        <span class="close-icon" onclick="removeMessage(this)">*</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="new_password1">New Password:</label>
            <input type="password" name="new_password1" id="new_password1" required>
            <label for="new_password2">Confirm Password:</label>
            <input type="password" name="new_password2" id="new_password2" required>
            <button type="submit">Reset Password</button>
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
        </form>
        <p class="link">Back to<a href="{% url 'spending_tracker_app:login' %}">Login</a></p>
    </div>

    <script>
        function removeMessage(element) {
            element.parentElement.style.display = 'none';
        }
    </script>
{% endblock %}