{% extends 'authentication_base.html' %}
{% load static %}

{% block title %}Password Reset Complete - SpendingTracker{% endblock %}

{% block messages %}
    <!-- Leave this empty to prevent messages from appearing in the base template -->
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Password Reset Complete</h2>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message-container {{ message.tags }} fade-in">
                        <span class="message-text">{{ message|safe }}</span>
                        <span class="close-icon" onclick="removeMessage(this)">*</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="message fade-in">
            Your password has been set. You may now <a href="{% url 'spending_tracker_app:login' %}">log in</a>.
        </div>
    </div>

    <script>
        function removeMessage(element) {
            element.parentElement.style.display = 'none';
        }
    </script>
{% endblock %}