{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up - Spending Tracker{% endblock %}
{% block content %}
    <div class="login-container">
        <h2>Sign Up</h2>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'spending_tracker_app:signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock %}