{% extends 'base.html' %}
{% load static %}

{% block title %}400 - Bad Request - SpendingTracker{% endblock %}

{% block content %}
    <div class="login-container" style="background-color: #1e2336;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
    margin: 50px auto;">
        <h2 class="header-title">400 - Bad Request</h2>
        <div class="error-page fade-in">
            <p class="error-message">Oops! There was an issue with your request.</p>
            <p class="error-description">The request could not be processed due to invalid data. Please try again or contact support.</p>
            <a href="{% url 'spending_tracker_app:index' %}" class="submit-button">Return to Home</a>
        </div>
    </div>
{% endblock %}